
# Loads default set of integrations. Do not remove.
default_config:


# Logging settings
logger:
  default: warning
  # logs:
  #   homeassistant.components.modbus: debug
  #   pymodbus: debug


# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
script:     !include scripts.yaml
scene:      !include scenes.yaml
sensor:     !include sensors.yaml
template:   !include templates.yaml


# Added by JSch
# Switch to mysql
recorder:
  db_url: !secret database_url
  auto_purge: true
  purge_keep_days: 100
  commit_interval: 30

# Added by JSch
# Allow traefik etc.
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.1.0/24  # local IP adresses
    - 192.168.2.0/24  # docker proxy-net
    - 192.168.3.0/24  # docker internal-net
    - 192.168.4.0/24  # docker tools-net
    - 192.168.5.0/24  # docker cloud-net
    - 192.168.6.0/24  # docker torrent-net
    - 192.168.7.0/24  # docker on media-net
    - 192.168.8.0/24  # docker on nvr-net
    - 172.17.0.0/16   # docker default networks
  ip_ban_enabled: true
  login_attempts_threshold: 5

homeassistant:
# Ensures slider switches instead of 2 button swiches
  customize_domain:
    switch:
      assumed_state: false

# Packages with bundles for automations
  packages:
    dhw_circulation_pack:       !include package_dhw_circulation.yaml
    dhw_booster_pack:           !include package_dhw_booster.yaml
    dhw_disinfection_pack:      !include package_dhw_disinfection.yaml
    therma_v_dewpoint_pack:     !include package_therma_v_dewpoint.yaml
    therma_v_sensors_pack:      !include package_therma_v_sensors.yaml
    therma_v_silent_pack:       !include package_therma_v_silent.yaml
    therma_v_ess_pack:          !include package_therma_v_ess.yaml
    therma_v_climate_pack:      !include package_therma_v_climate.yaml
    heatmeisters_pack:          !include package_heatmeisters.yaml
    goodwe_sensors_pack:        !include package_goodwe_sensors.yaml
    goodwe_export_limit_pack:   !include package_goodwe_export_limit.yaml
    energy_cost_pack:           !include package_energy_cost.yaml
    unavailable_entities_pack:  !include package_unavailable_entities.yaml
    holiday_mode_pack:          !include package_holiday_mode.yaml
